<!--
=========================================================
* Neumorphism UI - v1.0.0
* Manipulated by nvd
=========================================================
-->
{% extends 'base.html' %}

{% block application_title %}
    Persian Language Processing
{% endblock %}
{% block application_content %}
    In this series, we have done applications related to text mining and word processing.
    In this system, you can see the performance of each application, test it yourself,
    and finally learn how to use this application in your system using the APIs that are available to you,
    and finally from it use.
{% endblock %}
{% block apllication_download_master %}
{% endblock %}
{% block main_body %}
{% endblock %}