<!--
=========================================================
* Neumorphism UI - v1.0.0
* Manipulated by nvd
=========================================================
-->
{% extends 'base.html' %}
{% block title %}|Text Classification{% endblock %}
{% block header_for_application %}
    <li><a class="dropdown-item" href="#Performance">Performance</a></li>
    <li><a class="dropdown-item" href="#Test">Test</a></li>
    <li><a class="dropdown-item" href="#API">APIs</a></li>
{% endblock %}
{% block application_title %}Classification Of Persian Documents{% endblock %}
{% block application_content %}In this research, we try to classification Persian documents using machine learning tools
    - artificial neural networks.{% endblock %}
{% block application_download_href %}#{% endblock %}
{% block performance_body %}
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <!-- precesion -->
            <div class="mb-4">
                <span class="h5">Check system performance based on precision-score</span>
            </div>
            <div class="mb-5">
                <table class="table shadow-soft rounded">
                    <tr>
                        <th class="border-0" scope="col" id="classifier">Classifier/Embedding</th>
                        <th class="border-0" scope="col" id="tfidf">one_hot</th>
                        <th class="border-0" scope="col" id="doc2vec">doc2vec</th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Logistic Regression</th>
                        <th scope="row" id="one_hot_word_embeding__lr__precision_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__lr__precision_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__lr__precision_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__lr__precision_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__lr__precision_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__lr__precision_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Multi Layer Perseptron</th>
                        <th scope="row" id="one_hot_word_embeding__mlp__precision_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__mlp__precision_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__mlp__precision_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__mlp__precision_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__mlp__precision_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__mlp__precision_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Support Vector Machine</th>
                        <th scope="row" id="one_hot_word_embeding__svm__precision_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__svm__precision_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__svm__precision_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__svm__precision_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__svm__precision_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__svm__precision_score }}%#}
                        </th>
                    </tr>
                </table>
            </div>

            <!-- recall -->
            <div class="mb-4">
                <span class="h5">Check system performance based on recall-score</span>
            </div>
            <div class="mb-5">
                <table class="table shadow-soft rounded">
                    <tr>
                        <th class="border-0" scope="col" id="classifier">Classifier/Embedding</th>
                        <th class="border-0" scope="col" id="tfidf">one_hot</th>
                        <th class="border-0" scope="col" id="doc2vec">doc2vec</th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Logistic Regression</th>
                        <th scope="row" id="one_hot_word_embeding__lr__recall_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__lr__recall_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__lr__recall_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__lr__recall_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__lr__recall_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__lr__recall_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Multi Layer Perseptron</th>
                        <th scope="row" id="one_hot_word_embeding__mlp__recall_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__mlp__recall_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__mlp__recall_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__mlp__recall_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__mlp__recall_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__mlp__recall_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Support Vector Machine</th>
                        <th scope="row" id="one_hot_word_embeding__svm__recall_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__svm__recall_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__svm__recall_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__svm__recall_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__svm__recall_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__svm__recall_score }}%#}
                        </th>
                    </tr>
                </table>
            </div>

            <!-- f1 -->
            <div class="mb-4">
                <span class="h5">Check system performance based on f1-score</span>
            </div>
            <div class="mb-5">
                <table class="table shadow-soft rounded">
                    <tr>
                        <th class="border-0" scope="col" id="classifier">Classifier/Embedding</th>
                        <th class="border-0" scope="col" id="tfidf">one_hot</th>
                        <th class="border-0" scope="col" id="doc2vec">doc2vec</th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Logistic Regression</th>
                        <th scope="row" id="one_hot_word_embeding__lr__f1_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__lr__f1_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__lr__f1_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__lr__f1_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__lr__f1_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__lr__f1_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Multi Layer Perseptron</th>
                        <th scope="row" id="one_hot_word_embeding__mlp__f1_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__mlp__f1_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__mlp__f1_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__mlp__f1_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__mlp__f1_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__mlp__f1_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Support Vector Machine</th>
                        <th scope="row" id="one_hot_word_embeding__svm__f1_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__svm__f1_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__svm__f1_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__svm__f1_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__svm__f1_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__svm__f1_score }}%#}
                        </th>
                    </tr>
                </table>
            </div>


            <!-- accuracy -->
            <div class="mb-4">
                <span class="h5">Check system performance based on accuracy-score</span>
            </div>
            <div class="mb-5">
                <table class="table shadow-soft rounded">
                    <tr>
                        <th class="border-0" scope="col" id="classifier">Classifier/Embedding</th>
                        <th class="border-0" scope="col" id="tfidf">one_hot</th>
                        <th class="border-0" scope="col" id="doc2vec">doc2vec</th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Logistic Regression</th>
                        <th scope="row" id="one_hot_word_embeding__lr__accuracy_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__lr__accuracy_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__lr__accuracy_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__lr__accuracy_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__lr__accuracy_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__lr__accuracy_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Multi Layer Perseptron</th>
                        <th scope="row" id="one_hot_word_embeding__mlp__accuracy_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__mlp__accuracy_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__mlp__accuracy_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__mlp__accuracy_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__mlp__accuracy_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__mlp__accuracy_score }}%#}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row" id="lr">Support Vector Machine</th>
                        <th scope="row" id="one_hot_word_embeding__svm__accuracy_score_th"
                            headers="lr tfidf">
                            <button class="btn btn-primary" type="button"
                                    id="one_hot_word_embeding__svm__accuracy_score_loading_btn"
                                    disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ one_hot_word_embeding__svm__accuracy_score }}%#}
                        </th>
                        <th scope="row" id="word2vec_word_embeding__svm__accuracy_score_th"
                            headers="lr doc2vec">
                            <button class="btn btn-primary" type="button"
                                    id="word2vec_word_embeding__svm__accuracy_score_loading_btn" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            </button>
                            {#                                    {{ word2vec_word_embeding__svm__accuracy_score }}%#}
                        </th>
                    </tr>
                </table>
            </div>


        </div>
    </div>
{% endblock %}
{% block test_body %}
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-lg-12 mb-5">
            <!-- Contact Card -->
            <div class="card bg-primary shadow-soft border-light p-2 p-md-3 p-lg-5" id="uncategorized_category">
                <div class="card-header pb-0 text-center">
                    <h2 class="h1 mb-3">Uncategorized text category.</h2>
                    <p class="mb-5 lead">
                        You can enter a news in the text box below so that we can categorize your news.
                    </p>
                </div>
                <form class="col-12 col-md-8 mx-auto" method="post" id="news_for_test_performance_form">
                    <!-- Form -->
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">Titr</label>
                        <textarea class="form-control" name="titr_text_for_classify"
                                  id="titr_news_for_test_performance_textarea"
                                  placeholder="Enter your text..."
                                  rows="1"></textarea>
                        <label for="exampleFormControlTextarea2">Content</label>
                        <textarea class="form-control" name="content_text_for_classify"
                                  id="content_news_for_test_performance_textarea"
                                  placeholder="Enter your text..."
                                  rows="10"></textarea>
                    </div>
                    <!-- End of Form -->
                    <div class="alert alert-info" id="category_title_empty"> Category title:
                        <button class="btn btn-primary" type="button"
                                id="classification_submited_loading" disabled style="visibility:hidden;">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        </button>
                    </div>
                    <div class="px-0 mx-auto" style="margin-top: 10px">
                        <button type="submit" class="btn btn-primary">Classification</button>
                    </div>
                </form>
                <div class="col-md-4">
                    <!-- Modal Content -->
                    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog"
                         aria-labelledby="modal-default" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="h6 modal-title mb-0" id="modal-title-default">Feedback</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    If the category provided is incorrect, you can select the category
                                    you want to help better train the system. Thank you in advance for
                                    your cooperation.
                                    <form class="" method="post"
                                          id="news_for_test_feedback_form">
                                        <div id="field_set_categories_list_name"></div>
                                        {% for cat_key, cat_val in categories_list_name.items %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="category_radios"
                                                       id="category_radios{{ cat_key }}"
                                                       value="{{ cat_key }}">
                                                <label class="form-check-label"
                                                       for="category_radios{{ cat_key }}">
                                                    {{ cat_val }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                        <!-- End of Radio -->
                                        </fieldset >
                                        <hr id="for_asign_news_pk">
                                        <button type="submit" class="btn btn-primary">Send
                                        </button>
                                        <button type="button" class="btn btn-primary text-danger ml-auto"
                                                data-dismiss="modal" style="float: right">Close
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal Content -->
                </div>
            </div>
            <!-- End of Contact Card -->
        </div>
    </div>
{% endblock %}

{% block api_body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <!--Accordion-->
            <div class="accordion shadow-soft rounded" id="accordionExample1">
                <div class="card card-sm card-body bg-primary border-light mb-0">
                    <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="panel-1">
                        <span class="h6 mb-0 font-weight-bold">News Classification</span>
                        <span class="icon"><span class="fas fa-plus"></span></span>
                    </a>
                    <div class="collapse" id="panel-1">
                        <div class="pt-3">
                            <p class="mb-0">
                                This section is under development.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card card-sm card-body bg-primary border-light mb-0">
                    <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="panel-1">
                        <span class="h6 mb-0 font-weight-bold">Feedback</span>
                        <span class="icon"><span class="fas fa-plus"></span></span>
                    </a>
                    <div class="collapse" id="panel-2">
                        <div class="pt-3">
                            <p class="mb-0">
                                This section is under development.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Accordion-->
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $.ajax({
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "{% url 'statistical_pnc:news_classification_preprocessing' %}",
                // on success
                success: function (response) {
                    if (response.RESULT == true) {
                        const word2vec_word_embeding__svm__precision_score_var = $('#word2vec_word_embeding__svm__precision_score_loading_btn').parent();
                        $('#word2vec_word_embeding__svm__precision_score_loading_btn').remove();
                        word2vec_word_embeding__svm__precision_score_var.append(response.word2vec_word_embeding__svm__precision_score + '%');
                        const word2vec_word_embeding__svm__f1_score_var = $('#word2vec_word_embeding__svm__f1_score_loading_btn').parent();
                        $('#word2vec_word_embeding__svm__f1_score_loading_btn').remove();
                        word2vec_word_embeding__svm__f1_score_var.append(response.word2vec_word_embeding__svm__f1_score + '%');
                        const word2vec_word_embeding__svm__recall_score_var = $('#word2vec_word_embeding__svm__recall_score_loading_btn').parent();
                        $('#word2vec_word_embeding__svm__recall_score_loading_btn').remove();
                        word2vec_word_embeding__svm__recall_score_var.append(response.word2vec_word_embeding__svm__recall_score + '%');
                        const word2vec_word_embeding__svm__accuracy_score_var = $('#word2vec_word_embeding__svm__accuracy_score_loading_btn').parent();
                        $('#word2vec_word_embeding__svm__accuracy_score_loading_btn').remove();
                        word2vec_word_embeding__svm__accuracy_score_var.append(response.word2vec_word_embeding__svm__accuracy_score + '%');
                        const word2vec_word_embeding__mlp__precision_score_var = $('#word2vec_word_embeding__mlp__precision_score_loading_btn').parent();
                        $('#word2vec_word_embeding__mlp__precision_score_loading_btn').remove();
                        word2vec_word_embeding__mlp__precision_score_var.append(response.word2vec_word_embeding__mlp__precision_score + '%');
                        const word2vec_word_embeding__mlp__f1_score_var = $('#word2vec_word_embeding__mlp__f1_score_loading_btn').parent();
                        $('#word2vec_word_embeding__mlp__f1_score_loading_btn').remove();
                        word2vec_word_embeding__mlp__f1_score_var.append(response.word2vec_word_embeding__mlp__f1_score + '%');
                        const word2vec_word_embeding__mlp__recall_score_var = $('#word2vec_word_embeding__mlp__recall_score_loading_btn').parent();
                        $('#word2vec_word_embeding__mlp__recall_score_loading_btn').remove();
                        word2vec_word_embeding__mlp__recall_score_var.append(response.word2vec_word_embeding__mlp__recall_score + '%');
                        const word2vec_word_embeding__mlp__accuracy_score_var = $('#word2vec_word_embeding__mlp__accuracy_score_loading_btn').parent();
                        $('#word2vec_word_embeding__mlp__accuracy_score_loading_btn').remove();
                        word2vec_word_embeding__mlp__accuracy_score_var.append(response.word2vec_word_embeding__mlp__accuracy_score + '%');
                        const word2vec_word_embeding__lr__precision_score_var = $('#word2vec_word_embeding__lr__precision_score_loading_btn').parent();
                        $('#word2vec_word_embeding__lr__precision_score_loading_btn').remove();
                        word2vec_word_embeding__lr__precision_score_var.append(response.word2vec_word_embeding__lr__precision_score + '%');
                        const word2vec_word_embeding__lr__f1_score_var = $('#word2vec_word_embeding__lr__f1_score_loading_btn').parent();
                        $('#word2vec_word_embeding__lr__f1_score_loading_btn').remove();
                        word2vec_word_embeding__lr__f1_score_var.append(response.word2vec_word_embeding__lr__f1_score + '%');
                        const word2vec_word_embeding__lr__recall_score_var = $('#word2vec_word_embeding__lr__recall_score_loading_btn').parent();
                        $('#word2vec_word_embeding__lr__recall_score_loading_btn').remove();
                        word2vec_word_embeding__lr__recall_score_var.append(response.word2vec_word_embeding__lr__recall_score + '%');
                        const word2vec_word_embeding__lr__accuracy_score_var = $('#word2vec_word_embeding__lr__accuracy_score_loading_btn').parent();
                        $('#word2vec_word_embeding__lr__accuracy_score_loading_btn').remove();
                        word2vec_word_embeding__lr__accuracy_score_var.append(response.word2vec_word_embeding__lr__accuracy_score + '%');
                        const one_hot_word_embeding__svm__precision_score_var = $('#one_hot_word_embeding__svm__precision_score_loading_btn').parent();
                        $('#one_hot_word_embeding__svm__precision_score_loading_btn').remove();
                        one_hot_word_embeding__svm__precision_score_var.append(response.one_hot_word_embeding__svm__precision_score + '%');
                        const one_hot_word_embeding__svm__f1_score_var = $('#one_hot_word_embeding__svm__f1_score_loading_btn').parent();
                        $('#one_hot_word_embeding__svm__f1_score_loading_btn').remove();
                        one_hot_word_embeding__svm__f1_score_var.append(response.one_hot_word_embeding__svm__f1_score + '%');
                        const one_hot_word_embeding__svm__recall_score_var = $('#one_hot_word_embeding__svm__recall_score_loading_btn').parent();
                        $('#one_hot_word_embeding__svm__recall_score_loading_btn').remove();
                        one_hot_word_embeding__svm__recall_score_var.append(response.one_hot_word_embeding__svm__recall_score + '%');
                        const one_hot_word_embeding__svm__accuracy_score_var = $('#one_hot_word_embeding__svm__accuracy_score_loading_btn').parent();
                        $('#one_hot_word_embeding__svm__accuracy_score_loading_btn').remove();
                        one_hot_word_embeding__svm__accuracy_score_var.append(response.one_hot_word_embeding__svm__accuracy_score + '%');
                        const one_hot_word_embeding__mlp__precision_score_var = $('#one_hot_word_embeding__mlp__precision_score_loading_btn').parent();
                        $('#one_hot_word_embeding__mlp__precision_score_loading_btn').remove();
                        one_hot_word_embeding__mlp__precision_score_var.append(response.one_hot_word_embeding__mlp__precision_score + '%');
                        const one_hot_word_embeding__mlp__f1_score_var = $('#one_hot_word_embeding__mlp__f1_score_loading_btn').parent();
                        $('#one_hot_word_embeding__mlp__f1_score_loading_btn').remove();
                        one_hot_word_embeding__mlp__f1_score_var.append(response.one_hot_word_embeding__mlp__f1_score + '%');
                        const one_hot_word_embeding__mlp__recall_score_var = $('#one_hot_word_embeding__mlp__recall_score_loading_btn').parent();
                        $('#one_hot_word_embeding__mlp__recall_score_loading_btn').remove();
                        one_hot_word_embeding__mlp__recall_score_var.append(response.one_hot_word_embeding__mlp__recall_score + '%');
                        const one_hot_word_embeding__mlp__accuracy_score_var = $('#one_hot_word_embeding__mlp__accuracy_score_loading_btn').parent();
                        $('#one_hot_word_embeding__mlp__accuracy_score_loading_btn').remove();
                        one_hot_word_embeding__mlp__accuracy_score_var.append(response.one_hot_word_embeding__mlp__accuracy_score + '%');
                        const one_hot_word_embeding__lr__precision_score_var = $('#one_hot_word_embeding__lr__precision_score_loading_btn').parent();
                        $('#one_hot_word_embeding__lr__precision_score_loading_btn').remove();
                        one_hot_word_embeding__lr__precision_score_var.append(response.one_hot_word_embeding__lr__precision_score + '%');
                        const one_hot_word_embeding__lr__f1_score_var = $('#one_hot_word_embeding__lr__f1_score_loading_btn').parent();
                        $('#one_hot_word_embeding__lr__f1_score_loading_btn').remove();
                        one_hot_word_embeding__lr__f1_score_var.append(response.one_hot_word_embeding__lr__f1_score + '%');
                        const one_hot_word_embeding__lr__recall_score_var = $('#one_hot_word_embeding__lr__recall_score_loading_btn').parent();
                        $('#one_hot_word_embeding__lr__recall_score_loading_btn').remove();
                        one_hot_word_embeding__lr__recall_score_var.append(response.one_hot_word_embeding__lr__recall_score + '%');
                        const one_hot_word_embeding__lr__accuracy_score_var = $('#one_hot_word_embeding__lr__accuracy_score_loading_btn').parent();
                        $('#one_hot_word_embeding__lr__accuracy_score_loading_btn').remove();
                        one_hot_word_embeding__lr__accuracy_score_var.append(response.one_hot_word_embeding__lr__accuracy_score + '%');
                    }
                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    alert(response.responseJSON.errors);
                    console.log(response.responseJSON.errors)
                }
            });
            // catch the form's submit event
            $('#news_for_test_performance_form').submit(function () {
                // create an AJAX call
                {#$('#classification_submited_loading').style.visibility = "visible";#}
                document.getElementById("classification_submited_loading").style.visibility = "visible";
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: "{% url 'statistical_pnc:news_classification_classification' %}",
                    // on success
                    success: function (response) {
                        if (response.TEXT == true) {
                            $('#category_title').remove()
                            $('#news_for_test_performance_error_message').remove()
                            $('#category_title_empty').remove()
                            $('#content_news_for_test_performance_textarea').after('<div class="alert alert-info" id="category_title"> Category title:  ' + response.CATEGORY_TITLE + '<div class="alert-warning">Click on <a  data-toggle="modal" data-target="#modal-default"><u>this link</u></a> if the category is incorrect.</div></div>')
                            $('#category_radios' + response.CATEGORY_PK).prop('checked', true);
                            $('#for_asign_news_pk').after('<input type="text" name="news_pk" value="' + response.NEWS_PK + '" hidden>')
                        } else {
                            $('#category_title').remove()
                            $('#news_for_test_performance_error_message').remove()
                            $('#category_title_empty').remove()
                            $('#content_news_for_test_performance_textarea').after('<div class="alert alert-danger" id = "news_for_test_performance_error_message">' + response.ERROR_MESSAGE + '</div>')
                        }
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
            $('#news_for_test_feedback_form').submit(function () {
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: "{% url 'statistical_pnc:news_classification_feedback' %}",
                    // on success
                    success: function (response) {
                        $('#uncategorized_category').after('<div class="alert alert-info" id="category_title_empty">Thank you for your cooperation.</div>');
                        $('#modal-default').removeClass('show');
                        $('.modal-backdrop.fade.show').removeClass('show');
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>
{% endblock javascript %}
